{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'public_timeline' %}

  {% elif request.endpoint == 'user_timeline' %}
    {{ profile_user.username }}'s Reminders
  {% else %}
    My Reminders
  {% endif %}
{% endblock %}h
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.user %}
    {% if request.endpoint == 'user_timeline' %}
    {% elif request.endpoint == 'timeline' %}
      <div class=reminder>
        <h3>ENTER A REMINDER, {{ g.user.username }}:</h3>

        <form action="{{ url_for('add_message') }}" method=post>
          <label>Reminder Note:</label> <input type=text name=text size=80><BR>
            <label>Category:</label>
              <select name="cat">
                <option value="To Do List">To Do List</option>
                <option value="Song Lyrics">Lyrics</option>
                <option value="Homework">Homework</option>
                <option value="Things to Buy">Things to Buy</option>
              </select>
          <!--
          --><input type=submit value="Share">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <ul class=messages>
  {% for message in messages %}
    <li><img src="{{ message.email|gravatar(size=75) }}"><p>
      <strong><a href="{{ url_for('user_timeline', username=message.username)
      }}">{{ message.username }}</a></strong>

      <b>Note: </b>{{ message.text }}
      <BR><br>
      <b>Category: </b>{{message.cat}}<BR>

      <small>&mdash; {{ message.pub_date|datetimeformat }}</small>
  {% else %}
    <li><em>No messages so far.</em>
  {% endfor %}
  </ul>
{% endblock %}